@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 12%, 8%);
}

.container {
  height: 100vh;              
  display: flex;
  justify-content: center;     
  align-items: center;         
}

.card{
    background-color: hsl(213, 19%, 18%);
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.3);
    padding: 2rem;
    border-radius: 20px;
    width: 400px;
}

/* ICON */

.sta{
    margin-bottom: 30px;
    background-color: hsl(218, 25%, 15%);
    padding: 19px;
    border-radius: 100px;
}

/* FIRST CARD */


.ques-h2{
    font-size: 35px;
    color: white;
    font-family: "overpass", sans-serif;
    margin-bottom: 15px;
}

.ques-2-p{
    line-height: 1.3;
    font-family: "overpass", sans-serif;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    font-size: 15px;
}

.ratings{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.rate{
    color: hsl(217, 12%, 63%);
    margin-bottom: 30px;
    background-color: hsl(218, 25%, 15%);
    padding: 19px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    border: none;
}

.rate:hover{
    background-color: hsl(25, 97%, 53%);
    color: black;
    cursor: pointer;
}

.rate.active{
    background-color: white;
    color: black;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-btn{
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 30px;
    font-family: "overpass", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: hsl(25, 97%, 53%);
}

.sub-btn:hover{
    background-color: #fff;
    cursor: pointer;
}


/* SECOND CARD */

.hidden{
    display: none;
}

.appric-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.thanks-fig{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: "overpass", sans-serif;
    font-weight: 500;
}

.thanks-p{
    color: hsl(25, 97%, 53%);
    background-color: hsl(218, 25%, 15%);
    padding: 13.5px;
    border-radius: 50px;
    font-size: 14px;
    height: 45px;
}

.sec-card-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-family: "overpass", sans-serif;
    font-weight: 500; display: flex;
    justify-content: center;
}

.sec-card-h2{
    color: white;
    font-size: 30px;
}

.sec-card-sub{
    display: flex;
    justify-content: center;
}

.sec-card-p{
    color: hsl(217, 12%, 63%);
    width: 85%;
    text-align: center;
    font-size: 17px;
    line-height: 1.5;
}

/* PHONE */
@media only screen and (max-width:600px){
    
    .card{
        width: 90%;
    }
}